/*** RESET ***/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
}
*:focus {
  outline: 1;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
nav ul {
  list-style: none;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, select {
  vertical-align: middle;
}

/*Global*/

body {
  background: #D6D6D6;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  background: #fff;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  padding-bottom: 20px;
  width: 960px;
}

/*Header*/
header {
  padding: 20px;
  height: 50px;
}
header h1 {
  float: left;
}

header h1 a {
  color: #275b8c;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

a #ListTitle {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

header ul {
  float: right;
}
header li {
  float: left;
	padding: 4px 10px; 
}
.btn {
  background: -webkit-linear-gradient(top, #f4f4f4, #ddd);
  border: 1px solid #ccc;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 4px 10px;
}
header .btn {
  margin-left: 20px;
}
/*Nav */

nav {
  background: -webkit-linear-gradient(top, #f4f4f4, #ddd);
  border: 1px solid #ccc;
  border-width: 1px 0;
  height: 40px;
  line-height: 40px;
}
nav li {
  float: left;
  margin: 0 20px;
}


/*ASIDE*/

aside {
  float: left;
  margin: 20px 0 0 20px;
}
.box {
  border: 1px solid #ccc;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 200px;
}

section {
  border: 1px solid #ccc;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  float: right;
  margin: 20px 20px 0 0;
  width: 697px;
}


.clear {
  clear: both;
}

.box h2 {
  background: -webkit-linear-gradient(top, #f4f4f4, #ddd);
  border-bottom: 1px solid #ccc;
  padding: 4px 10px;
}
.box form {
  padding: 10px;
}
.box label {
  font-weight: bold;
}
.box input {
  display: block;
}
.box .checkboxes input {
  display: inline;
}
.box .checkboxes label {
  font-weight: normal;
}
.box strong {
  display: block;
}


section table {
  width: 100%;
}
section th {
  background: -webkit-linear-gradient(top, #f4f4f4, #ddd);
  border-bottom: 1px solid #ccc;
  padding: 4px 10px;
}
section td {
  background: -webkit-linear-gradient(top, #eee, #fff);
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
section tr:hover td {
  background: pink;
}
section a {
  color: red;
}
section a:hover {
  background: -webkit-linear-gradient(top, red, orange);
  color: #fff;
}








